body{
    font-family: 'Oswald';
    font-size: 20px;
}

*{
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

.AppBox{
    position: relative;
}
